apiVersion: v1
kind: Secret
metadata:
  name: {{ contentiq_pull_secret_name }}
  namespace: {{ contentiq_target_namespace }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: {{ {"auths": {contentiq_install_registry.server: {"username": contentiq_install_registry.username, "password": contentiq_install_registry.password, "email": contentiq_install_registry.email, "auth": (contentiq_install_registry.username ~ ":" ~ contentiq_install_registry.password) | b64encode}}} | to_json | quote }}
